
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Agents</title>
</head>
<body>
	<div class="topnav">
		<a href="#Index">Home</a>
		<a class="active" href="#Homes">Homes List</a>
		<a href="#Sell">Sell</a>
		<a href="#Rent">Rent</a>
		<a href="#Agents">Agents</a>
	</div>

</body>
</html>