@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
	<title>Welcome to Home Purchasers !</title>
</head>
<body>
	<div class="topnav">
		<a class="active" href="#Index">Home</a>
		<a href="#Homes">Homes List</a>
		<a href="#Sell">Sell</a>
		<a href="#Rent">Rent</a>
		<a href="#Agents">Agents</a>
	</div>

</body>
</html>